<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email In Use - Error Page</title>
 <link rel="stylesheet" type="text/css" href="css/usedEmail.css">
</head>
<body>

<div class="error-container">
  <h2>Email In Use</h2>
  
  <p class="error-message">The email you provided is already in use. Please use a different email or <a href="#" onclick="goBack()">go back</a> to the login page.</p>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

</div>

</body>
</html>
